.theFooter {
    background-color: red;
    overflow: hidden;
    height: 80px;
    padding: 30px 10px;
  font-size: 0.9rem;
  }

  .leftFooter {
    float: left;
  }

  .rightFooter {
    float: right;
  }

  .mediaItem {
    color: #102542;
    align-items: center;
  }

  .mediaItem:hover {
    color: #574B60;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }