.headerContainer {
  background-color: steelblue;
  height: 80px;
  padding: 20px 10px;
  font-size: 1.2rem;
  overflow: hidden;
 
  
}
.navbarBrand {
  float: left;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
 
}

.navbarBrand:hover {
  background-color: lightblue;
  color: #446ccf;
}
.homeLink {
  
  font-size: 2rem;
  padding: 0.5rem 1rem;
  color: #111;
  text-decoration: none;
  
}
.homeLink:hover {
  color: #446ccf;
}
.headerList {
  float: right;

}
.componentLink {
  color:white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.componentLink:hover {
  background-color: lightblue;
  color: #446ccf;
  border-radius: 4px;
  transition: all 0.2s ease-out;

}

@media screen and (max-width: 500px) {
  .componentLink {
    float: none;
    display: block;
    text-align: left;
  }
  
  .headerList {
    float: none;
  
  }
}